.Input__box {
  display: flex;
  justify-content: center;
  width: 90%;
  /* box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.3); */
  margin: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.Input__box--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Input__box--form h3 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: #153121;
}
.Input__box--form input[type="radio"] {
  opacity: 0;
}

.Rating_number {
  text-align: center;
  font-size: 22px;
}
.Input__submit {
  width: 100px;
  margin: 5px;
  height: 25px;
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  background-image: linear-gradient(
    to right,
    #6a9113 0%,
    #141517 51%,
    #6a9113 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border: 1px solid #153121;
}
.Input__submit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.Input_box {
  color: black;
  text-align: center;
  margin: 0 2px 10px 2px;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .Input__box--form h3 {
    font-size: 24px;
  }
  .Rating__text {
    height: 50px;
    width: 300px;
    padding: 4px;
  }
  .Input__box {
    width: 70%;
  }
  .Input__submit {
    border-radius: 15px;
    width: 140px;
    height: 30px;
    margin: 5px;
  }
}
