.Input_box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #153121;
  border-radius: 10px;
  min-height: 130px;
  width: 90%;
  background-color: white;
  color: #153121;
  box-shadow: 5px 5px 5px 5px rgba(223, 226, 218, 0.4);
}
.Input_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  text-align: center;
}
textarea {
  min-height: 30%;
  font-size: 12px;
}

.Input_submit {
  margin: 4px 10px 5px 2px;
  font-size: 9px;
  height: 25px;
  width: 50px;
  color: white;
  background-color: #1d412c;
  border: none;
  border-radius: 5px;
}

.Input_submit:hover {
  cursor: pointer;
  transform: scale(1.2);

  background-color: #153121;
}

.text {
  border-radius: 10px;
}

/* 
Hidden input type='radio' 
*/
.Input_form input[type="radio"] {
  height: 0;
  color: white;
}
.Rating_number {
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .Input_submit {
    font-size: 14px;
    height: 50px;
    width: 70px;
  }
}
