.Input_box {
  display: flex;
  align-items: stretch;
  justify-content: center;

  min-height: 130px;
  width: 100%;
  border-top: 1px solid white;
}
.Input_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  text-align: center;
}

.Input_submit {
  margin: 4px 4px 5px 2px;
  font-size: 9px;
  height: 30px;
  width: 60px;
  color: white;
  background-color: rgb(62, 136, 62);
  border: none;
  border-radius: 15px;
}

.Input_submit:hover {
  cursor: pointer;
  transform: scale(1.2);

  background-color: #153121;
}

/* 
Hidden input type='radio' 
display: none robi input radio bezuzyteczny 
*/
.Input_form input[type="radio"] {
  opacity: 0;
}

.Rating_number {
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .Input_submit {
    font-size: 14px;
    height: 35px;
    width: 70px;
  }
}
