.Comments-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.Comments-box ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 300px;
  margin: 5% 0 5% 0;
  width: 80%;
}
.Comments-box li {
  font-size: 12px;
  width: 80%;
  border: 1px solid black;
  list-style: none;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}
