.Beercard__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}
.Beercard {
  max-width: 1200px;
}
.Beercard__upper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.Beercard__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.Beercard__left img {
  width: 30%;
  height: auto;
}
.Beercard__left--rating {
  font-size: 22px;
}
.Beercard__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Beercard__right--name {
  font-family: "Reggae One", cursive;
  font-size: 22px;
}
.Beercard__right--info {
  padding: 5%;
}
.Beercard__right--description {
  font-size: 18px;
}
.Beercard__right--table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0 15px 0;
  font-size: 20px;
}
.Beercard__right--table tr {
  border-bottom: 1px solid black;
}
.Beercard__coments {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 10px;
  padding-top: 3%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 768px) {
  .Beercard__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Beercard__upper {
    flex-direction: row;
  }
  .Beercard__left {
    width: 40%;
    flex-direction: row-reverse;
  }
  .Beercard__right {
    width: 60%;
  }
  .Beercard__left img {
    width: 130px;
    height: auto;
  }
  .Beercard__coments {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    padding-top: 3%;
    width: 100%;
  }
}
