.BeerTile {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  min-width: 128px;
  min-height: 240px;
  margin: 16px;

  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(191deg, rgba(77,81,71,1) 0%, rgba(126,143,116,0.7259103470489758) 100%);  */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.BeerTile:hover {
  box-shadow: 5px 5px 5px 5px rgba(10, 15, 0, 0.4);
}
.BeerTile__name {
  font-size: 20px;
  color: black;
  margin-top: 30px;
  text-align: center;
}
.BeerTile__type {
  font-size: 12px;
  color: rgb(2, 27, 2);
  margin-bottom: 30px;

  text-align: center;
}

.BeerTile__brewery {
  font-size: 13px;
  color: rgb(2, 27, 2);
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: transparent;
}
.BeerTile__img {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .BeerTile {
    width: 220px;
    height: 350px;
  }
}
