.Comments__box {
  width: 70%;
  color: black;
}
.Comments__box h3 {
  font-size: 24px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
.comments__container {
}
.Comments__box li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  list-style: none;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;

  margin: 10px;
  width: 95%;
}
