.header {
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #153121;
  -webkit-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 10px;
  font-size: 20px;
  height: 140px;
  font-family: "Reggae One", cursive;
}

.header__logo {
  color: #153121;
}

.header__button {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 24px;
    letter-spacing: 24px;
    display: flex;
    flex-direction: row;
    height: 90px;
  }
} ;
